@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container {
  font-family: 'Lato', sans-serif;
}

.image {
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 8px solid rgb(38, 151, 243);
  border-radius: 5px;
}

.section {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  box-shadow: 2px 2px 4px rgb(165, 164, 164);
  display: flex;
  padding: 5px;
}

.card-container {
  display: flex;
}

.card-question {
  display: block;
}
