@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
}

.container {
  font-family: 'Lato', sans-serif;
  background-color: rgb(38, 151, 243);
  height: 1500px;
}

.header {
  color: white;
  padding: 5px;
  text-align: center;
}

.image {
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(38, 151, 243);
  border-radius: 5px;
}

.section {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  box-shadow: 2px 2px 4px rgb(165, 164, 164);
  display: flex;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px white;
}

.card-container {
  display: flex;
}

.card-question {
  display: block;
}

.check {
  color: green;
}

.fix {
  color: red;
  font-size: 20pt;
  font-weight: 800;
}

.link {
  text-decoration: none;
  font-size: 20pt;
  font-weight: 600;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px white;
  border-radius: 5px;
}

.check01 {
  position: absolute;
  top: 35px;
  left: 495px;
  color: green;
  width: 20pt;
  height: 20pt;
}

@media only screen and (max-width: 700px) {
  .container {
    background-color: blueviolet;
  }

  .container p {
    color: blueviolet;
    font-size: 15pt;
    font-weight: 900;
    padding: 3px;
  }

  .container h3 {
    font-size: 18pt;
    color: blueviolet;
    padding: 3px;
  }

  .container textarea {
    width: 90%;
    color: blueviolet;
    font-size: 15pt;
    font-weight: 900;
  }

  .container02 {
    padding-top: 100px;
    margin-left: 10px;
  }

  .header02 {
    position: fixed;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: blueviolet;
    z-index: 5;
  }

  .section {
    display: block;
  }

  .card-container {
    display: block;
    text-align: center;
    background-color: rgb(199, 186, 211);
    margin: 0px;
    padding: 0px;
  }

  .card {
    background-color: blueviolet;
  }

  .image {
    border: 2px solid blueviolet;
  }

  .link {
    color: white;
  }

  .check01 {
    left: 370px;
    top: 195px;
    width: 30pt;
    height: 30pt;
  }

  .input-value {
    font-size: 20pt;
  }

  .audio {
    height: 80px;
    padding: 10px;
  }
}
